 @import url("reset.css");
 @import url("components.css");
 /* @import url("header.css"); */

 body {
     font-family: "Roboto", sans-serif;
     font-size: 18px;
     background-color: #0f172A;
     color: #fff;
 }

 @media (max-width: 767.98) {
     body {
         font-size: 16px;
     }
 }

 .wrapper {
     display: flex;
     flex-direction: column;
     /* block-size: 100%; */
     min-height: 100%;
     overflow: clip;
 }

 .wrapper>main {
     flex-grow: 1;
 }

 /* bounding box */
 [class*="__container"] {
     max-inline-size: 1310px;
     /*128 + 15 + 15*/
     margin-inline: auto;
     padding-inline: 15px;
 }

 /* ================================================================================= */
 .header {
     padding-block: 24px;
     position: sticky;
     top: 0;
     z-index: 50;
 }

 .header__container {
     max-inline-size: 1030px;
 }

 .header__body {
     padding: 24px;
     border-radius: 20px;
     /* background: rgba(255, 255, 255, 0.05); */
     background-color: #192131;
     box-shadow:
         0px 25px 50px -12px rgba(0, 0, 0, 0.25),
         0px 0px 15px 0px rgba(0, 0, 0, 0.07);

     display: grid;
     column-gap: 46px;
     row-gap: 5px;

     align-items: center;
     grid-template-columns: auto 1fr auto;
 }

 .header__link-logo {
     position: relative;
     z-index: 3;
     font-size: 32px;
     font-weight: 700;
     line-height: 110%;
     transition: all 0.3s;
 }

 .header__link-logo:hover {
     color: #aa51fe;
 }

 .header__menu {}

 .menu {}

 .menu__body {}

 .menu__list {
     display: flex;
     flex-wrap: wrap;
     gap: 32px;
 }

 .menu__item {}

 .menu__link {
     color: #fff;
     font-size: 16px;
     font-weight: 500;
     line-height: 1.5;
     /*150%*/
     letter-spacing: 0.5px;
     transition: color 0.3s;
 }

 .menu__link:hover {
     color: #aa51fe;
 }

 .header__actions {}

 .actions-header {
     display: flex;
     gap: 16px;
     align-items: center;
     flex-wrap: wrap;
     position: relative;
     z-index: 3;
 }

 .actions-header__button {}

 .icon-menu {
     display: none;
 }

 @media (max-width: 991.98px) {
     .header {
         padding-block: 15px;
     }

     .header__body {
         padding-block: 15px;
         column-gap: 20px;

     }

     .menu__list {
         column-gap: 20px;
     }

     .actions-header {
         column-gap: 10px;
     }

     .actions-header__button.button--mini {
         padding-inline: 15px;
     }
 }

 @media (max-width: 767.98px) {
     .menu {
         position: fixed;
         inset-inline-start: -100%;
         inset-block-start: 0;
         block-size: 100%;
         inline-size: 100%;

         transition: inset-inline-start 0.3s;

         overflow: auto;

         background-color: #0f172A;

         padding-block-start: 105px;
         padding-inline: 15px;
         padding-block-end: 30px;
     }

     .menu::before {
         position: fixed;
         content: "";
         z-index: 2;
         box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
         block-size: 64px;
         inset-inline-start: 15px;
         inset-inline-end: 15px;
         inset-block-start: 15px;

         transition: visibility 0.3s;
         visibility: hidden;

         border-radius: 20px;
         /* background: rgba(255, 255, 255, 0.05); */
         background-color: #192131;
         box-shadow:
             0px 25px 50px -12px rgba(0, 0, 0, 0.25),
             0px 0px 15px 0px rgba(0, 0, 0, 0.07);
     }

     .open-menu .menu {
         inset-inline-start: 0;
     }

     .open-menu .menu::before {
         visibility: visible;
     }


     .menu__list {
         flex-direction: column;
         align-items: flex-end;
         row-gap: 25px;
         padding-inline-end: 18px;
     }

     .menu__link {
         font-size: 30px;
     }

     .icon-menu {
         display: block;
         position: relative;
         inline-size: 48px;
         block-size: 48px;
         z-index: 3;
     }

     .icon-menu span,
     .icon-menu::before,
     .icon-menu::after {
         content: "";
         position: absolute;
         block-size: 4px;
         border-radius: 4px;
         background-color: #fff;

         transition: all 0.3s;
     }

     .icon-menu::before,
     .icon-menu::after {
         inline-size: 15px;
     }

     .icon-menu::before {
         inset-inline-start: 10px;
         inset-block-start: 14px;
     }

     .icon-menu::after {
         inset-inline-end: 10px;
         inset-block-end: 14px;
     }

     .icon-menu span {
         inset-inline-start: 50%;
         inset-block-start: 50%;
         transform: translate(-50%, -50%);
         inline-size: 28px;
     }

     .open-menu .icon-menu span {
         /* inline-size: 0; */
         transform: translate(-50%, -50%) rotate(-45deg);
         inline-size: 33px;
     }

     .open-menu .icon-menu::before {
         transform: translate(0, 1px) rotate(45deg);
     }

     .open-menu .icon-menu::after {
         transform: translate(0, -2px) rotate(45deg);
     }

     .header__body {
         padding-block: 8px;
         padding-inline-start: 24px;
         padding-inline-end: 8px;
         grid-template-columns: auto auto;
         justify-content: space-between;
     }
 }

 @media (max-width: 439.98px) {
     .actions-header__button {
         display: none;
     }
 }

 /* ================================================================================= */

 .page {}

 .page__hero {}

 .page__companies {
}

.page__discover {
}

.page__powerful {
}

[class*="page__"]{
    padding-top: 80px;
    padding-bottom: 80px;
}  

@media (max-width : 991.98px) {
    [class*="page__"]{
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media (max-width : 767.98px) {
    [class*="page__"]{
        padding-top: 48px;
        padding-bottom: 48px;
    }
}
 /* ================================================================================= */

 .hero {
     padding-top: 104px;
 }

 .header__container{
    text-align: center;
 }

 .hero__block-header {
    margin-bottom: 80px;
 }

 .hero__image {
     max-width: 100%;
     border-radius: 20px;
     box-shadow: 
     0px 25px 50px -12px rgba(0, 0, 0, 0.25),
     0px 0px 15px 0px rgba(0, 0, 0, 0.07);
 }

 @media (max-width : 991.98px) {
     .hero {
         padding-top: 70px;
     }

     .hero__block-header {
        margin-bottom: 60px;
     }
 }

 @media (max-width : 767.98px) {
     .hero {
         padding-top: 35px;
     }

     .hero__block-header {
        margin-bottom: 48px;
     }
 }

 /* ================================================================================= */


.companies {
}

.companies__container {
}

.companies__title {
    /* margin-bottom: 80px; */
}

.companies__title:not(:last-child) {
    margin-bottom: 80px;
}

.title {
}

.title--center {
}
 
.companies__items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 24px;
}

.companies__item {
}

@media (max-width : 991.98px) {
    .companies__title:not(:last-child){
        margin-bottom: 60px;
    }
}

@media (max-width : 767.98px) {
    .companies__title {
        margin-bottom: 48px;
    }
}

/* ================================================================================= */

.discover {
}
.discover__container {
    /* display: flex; */
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 30%/*375/1280*/;
    column-gap: 80px;
    row-gap: 48px;
}
.discover__body {
}
.discover__block-header {
}

.discover__media{

}

.discover__image {
    max-width: 100%;
}

@media (max-width: 991.98px){
    .discover__container{
        column-gap: 40px;
    }
}

@media (max-width: 767.98px){
    .discover__container{
        justify-items: center;
        grid-template-columns: auto;
    }

    .discover__block-header {
        justify-items: center;
        text-align: center;
    }

    .discover__block-header .block-header__link{
        justify-self: center;
    }
}

/* ================================================================================= */

.page__powerful {
}

.powerful {
}

.powerful__container {
    display: grid;
    align-items: start;
    grid-template-columns: 30% 1fr   /*375/1280*/;
    column-gap: 80px;
    row-gap: 48px;
}

.powerful__body {
}

.powerful__block-header {
}

.powerful__media {
}

.powerful__image {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 
    0px 20px 25px -5px rgba(0, 0, 0, 0.07),
    0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}  